header,
main,
footer {
    display: inline-block;
    width: 1000px;
    margin: 0 calc(50% - 500px);
}

img {
    float: left;
}

nav {
    float: right;
    border: 2px solid red;
}

a {
    color: #333;
    text-decoration: none;
    font-size: 20px;
    margin-left: 50px;
}
/* a:first-child {
    margin: 0;
    background-color: yellow;
} */
a:first-of-type {
    margin: 0;
    background-color: yellow;
}
